<section class="todoapp">
  <header class="header">
    <h1>ToDos</h1>
    <form id="new-form">
      <input name="task[title]" type="text" class="new-todo" placeholder="Add a new todo...">
     </form>
  </header>

  <section class="main">
  <ul class="todo-list">
    <li></li>
  </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application. Coded by
  <%= link_to "Tom Yotwongjai", "https://github.com/mahalocode" %>
</section>
